{% extends 'parts/base.twig' %}

{% block body %}

    {% if user is not null %}
        <h1>Здравствуйте , {{ user.given_name|escape }}!</h1>
        <p>На этой странице вы можете увидеть информацию о ваших текущих заявках
            а также изменить личную информацию</p>

        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btn-radio" id="applications_btn"
                   autocomplete="off" value="Applications" checked>
            <label class="btn btn-outline-primary" for="applications_btn">Заявки</label>

            <input type="radio" class="btn-check" name="btn-radio" id="client_settings_btn"
                   autocomplete="off" value="Settings">
            <label class="btn btn-outline-primary" for="client_settings_btn">Настройки пользователя</label>
        </div>

{#        <div class="row" id="content">#}
{#            <p>PIZDAAAAAA</p>#}
{#        </div>#}

{#        TODO#}
{#        <script>#}
{#            let filler;#}
{#            let theDiv = document.getElementById("content");#}
{#            $('input:radio[name="btn-radio"]').change(function() {#}
{#                if ($(this).val() === 'Applications') {#}
{#                    // theDiv = document.getElementById("content");#}
{#                    // filler = document.createTextNode("PIZDAAAAAAA");#}
{#                    // theDiv.appendChild(filler);#}
{#                    $.ajax({#}
{#                        method: "GET",#}
{#                        url: "http://localhost:8888/"#}
{#                    })#}
{#                } else {#}
{#                    // theDiv = document.getElementById("content");#}
{#                    // filler = document.createTextNode("hui");#}
{#                    // theDiv.appendChild(filler);#}
{#                }#}
{#            });#}
{#        </script>#}

    {% else %}
        <h1>Авторизация</h1>

        {% if message is not null%}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endif %}

        <form method="post" action="/login-post">
            <div class="row mb-3">
                <div class="col-auto">
                    <label for="phone" class="form-label">Телефон</label>
                    <input type="text" name="phone" class="form-control" id="phone" placeholder="+79261234567"
                           value="{{ form ? form.phone }}">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-auto">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    {% endif %}
{% endblock %}