<header class="sticky">
    <nav class="navbar navbar-light bg-light mb-3">
        <div class="container-fluid">
            <a class="navbar-brand">Card Dealer</a>
            <form class="d-flex">
                {% if user is not null %}
                    <a class="btn btn-sm btn-outline-secondary pt-1 me-2" href="/">Профиль</a>
                    <a class="btn btn-sm btn-outline-secondary" href="/logout">Выйти</a>
                {% endif %}
            </form>
        </div>
    </nav>
</header>